# Git (sensitive)
git/.git-credentials
!git/.git-credentials.example  # Allow example

# GitHub (sensitive)
gh/.config/gh/hosts.yml
!gh/.config/gh/hosts.yml.example  # Allow example

# SSH (sensitive)
ssh/.ssh/*
!ssh/.ssh/config.example  # Allow example

# FzF (submodules)
fzf/.config/fzf/fzf-git.sh
fzf/.config/fzf/fzf-theme.sh

# Tmux (submodules)
tmux/.config/tmux/plugins/

# Karabiner (backups)
karabiner/.config/karabiner/automatic_backups/

# Temporary packages/files
TODO.md
ZACH-READ.md
tmp_brew/
