# Git (sensitive)
git/.git-credentials

# GitHub (sensitive)
gh/.config/gh/hosts.yml

# SSH (sensitive)
ssh/.ssh/*
!ssh/.ssh/config.example

# Zsh (sensitive)
zsh/.zsh_secrets

# FzF (submodules)
fzf/.config/fzf/fzf-git.sh
fzf/.config/fzf/fzf-theme.sh

# Tmux (submodules)
tmux/.config/tmux/plugins/

# Karabiner (backups)
karabiner/.config/karabiner/automatic_backups/

# Temporary packages/files
TODO.md
ZACH-READ.md
tmp_brew/
