# FzF (submodules)
fzf/.config/fzf/fzf-git.sh
fzf/.config/fzf/fzf-theme.sh

# Git
git/.git-credentials

# GitHub
gh/.config/gh/hosts.yml

# Karabiner 
karabiner/.config/karabiner/automatic_backups/

# SSH
ssh/.ssh/*
!ssh/.ssh/config.example

# Tmux (submodules)
tmux/.config/tmux/plugins/

# Zsh 
zsh/.zsh_secrets

# Temporary packages/files
tmp_brew/
ZACH-READ.md
