# TODO: 
# verify the following functionality working as expected 
# 1. Aerospace starts properly on login 
# 2. Sketchybar & Jankyborders hooks function properly on Aerospace startup on login
#    a. Disable Sketchybar until UI finalized?
# TODO: 
# is there a way to prevent workspace/app switching for non-active workspace apps? 
# e.g. suppose i'm on workspace A, and whatsapp is on workspace B 
# currently, any existing method of switching apps (raycast, clicking the dock icon, etc.)
# will switch me to workspace B and keep focus on the selected app (whatsapp)
# i want aerospace to be the ONLY way i can switch to an app 
# do i need to submit a issue/PR for this? 

after-startup-command = [
    # "exec-and-forget sketchybar"
]
exec-on-workspace-change = [
    # "/bin/bash", "-c", "sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE; exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0"
    "bin/bash", "-c", "exec-and-forget borders active_color=0xffe1e3e4 inactive_color=0xff494d64 width=5.0"  # tmp
]

start-at-login = true 

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 40

default-root-container-layout = "tiles"

default-root-container-orientation = "auto"

automatically-unhide-macos-hidden-apps = true 

[key-mapping]
    preset = "qwerty"

[gaps]
    inner.horizontal = 5
    inner.vertical = 5
    outer.left = 5
    outer.bottom = 5
    outer.top = 5
    outer.right = 5

[mode.main.binding]

    alt-slash = "layout tiles horizontal vertical"
    alt-comma = "layout accordion horizontal vertical"

    alt-h = "focus left"
    alt-j = "focus down"
    alt-k = "focus up"
    alt-l = "focus right"

    alt-shift-h = "move left"
    alt-shift-j = "move down"
    alt-shift-k = "move up"
    alt-shift-l = "move right"

    alt-ctrl-shift-h = "join-with left"
    alt-ctrl-shift-j = "join-with down"
    alt-ctrl-shift-k = "join-with up"
    alt-ctrl-shift-l = "join-with right"

    alt-minus = "resize smart -50"
    alt-equal = "resize smart +50"

    alt-shift-f = "fullscreen"
    alt-ctrl-shift-f = "layout floating tiling"

    alt-m = "workspace m" # Messages
    alt-s = "workspace s" # Staging
    alt-t = "workspace t" # Terminal 
    alt-w = "workspace w" # Workspace

    alt-0 = "workspace 0" # Project 0 (Home)
    alt-1 = "workspace 1" # Project 1
    alt-2 = "workspace 2" # Project 2 
    alt-3 = "workspace 3" # Project 3  
    alt-4 = "workspace 4" # Project 4  
    alt-5 = "workspace 5" # Project 5
    alt-6 = "workspace 6" # Project 6
    alt-7 = "workspace 7" # Project 7
    alt-8 = "workspace 8" # Project 8
    alt-9 = "workspace 9" # Project 9

    alt-shift-m = "move-node-to-workspace m --focus-follows-window" # Messages
    alt-shift-s = "move-node-to-workspace s --focus-follows-window" # Staging
    alt-shift-t = "move-node-to-workspace t --focus-follows-window" # Terminal 
    alt-shift-w = "move-node-to-workspace w --focus-follows-window" # Workspace

    alt-shift-1 = "move-node-to-workspace 1 --focus-follows-window" # Project 0 (Home)
    alt-shift-2 = "move-node-to-workspace 2 --focus-follows-window" # Project 1
    alt-shift-3 = "move-node-to-workspace 3 --focus-follows-window" # Project 2
    alt-shift-4 = "move-node-to-workspace 4 --focus-follows-window" # Project 3
    alt-shift-5 = "move-node-to-workspace 5 --focus-follows-window" # Project 4
    alt-shift-6 = "move-node-to-workspace 6 --focus-follows-window" # Project 5
    alt-shift-7 = "move-node-to-workspace 7 --focus-follows-window" # Project 6
    alt-shift-8 = "move-node-to-workspace 8 --focus-follows-window" # Project 7
    alt-shift-9 = "move-node-to-workspace 9 --focus-follows-window" # Project 8
    alt-shift-0 = "move-node-to-workspace 0 --focus-follows-window" # Project 9

    alt-tab = "workspace-back-and-forth"
    alt-shift-tab = "move-workspace-to-monitor --wrap-around next"

    alt-shift-semicolon = "mode service"

[mode.service.binding]
    esc = ["reload-config", "mode main"]
    r = ["flatten-workspace-tree", "mode main"] 

[[on-window-detected]]
    if.app-name-regex-substring = "finder"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "appcleaner"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "app store"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "bitwarden"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "iphone mirroring"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "shottr"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "nordvpn"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "activity monitor"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "settings"
    run = "layout floating"

[[on-window-detected]]
    if.app-name-regex-substring = "preview"
    run = "layout floating"
